* {
    background: #F2EBEC;
    text-decoration:none;
}
.wrapper_div {
    display: flex; 
    flex-direction: row;
    text-align:center;
    justify-content: center;
    margin-left: 50px;
    margin-top: 15px;
    gap:0px
}

.text_div {
    width: 30%; 
    height:100%; 
    margin:auto; 
    text-align:center;
    margin-right: 0px;
    color: #6F738C
}
/**/
.image_div {
    width: 50%; 
    height: 100%; 
    margin: auto;
    margin-top:70px;
    margin-left:0px;
}

.portrait {
    border-radius: 500px;
}

.links{
    font-size: 25px;
    text-align:left;
    margin-left: 25px;
}

.bio_content {
    font-size: 20px;
}

.bio_title {
    font-size: 50px;
}




.contact_title {
    text-align: center;
    font-size: 50px;
    font-family: Calibri;
    margin-bottom: 0px;
    margin-top: 45px;
}

.contact_div {
    margin-top:35px;
    margin-bottom:35px;
    text-align:center;
}

.contact_div * {
    width: 115px;
    height: 25px;
    background: #2b2b2b;
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: #F2EBEC;
    font-weight: bold;
    line-height: 25px;
    margin:15px;
}

.email_div {
    text-align:center;
    visibility:hidden;
    font-size: 25px;
    font-family: Calibri;
}

a {
    color: black; 
    text-decoration: none;
}

li {
    color: #2b2b2b
}



@media screen and (max-width: 800px) {
    body * {
        margin: 0px;
        padding: 0px;
    }

    .bio_title {
        font-size: 30px;
        margin-bottom: 20px;
        margin-top:10px;
    }

    .text_div {
        width:90%;
        display:block;
        margin:auto;
    }

    .bio_content {
        margin:10px;
    }
    
    .image_div {
        width: 50%; 
        height: 100%; 
        margin: auto;
        margin-top:30px;
        margin-left:0px;
    }
    
    .portrait {
        border-radius: 500px;
        width:200%;
    }

    .wrapper_div {
        margin: 0px;
        padding: 0px;
        
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .links li {
        display: inline;
    }

    .links ul {
        display:flex;
        justify-content: center;
        flex-direction: row-reverse;
        gap:20vw;
    }

    .links{
        font-size: 25px;
        text-align:left;
        margin: 0px;
        margin-top:25px;
    }




    .contact_title {
        text-align: center;
        font-size: 50px;
        font-family: Calibri;
        margin-bottom: 0px;
        margin-top: 45px;
    }

    .contact_div {
        margin-top:35px;
        margin-bottom:35px;
        text-align:center;
    }

    .contact_div * {
        width: 115px;
        height: 25px;
        background: #2b2b2b;
        padding: 10px;
        text-align: center;
        border-radius: 5px;
        color: #F2EBEC;
        font-weight: bold;
        line-height: 25px;
        margin:3px;
    }

    .email_div {
        text-align:center;
        visibility:hidden;
        font-size: 25px;
        font-family: Calibri;
        margin-bottom:50px;
    }
}