{% extends "base.html" %}

{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='scripts.js') }}"></script>
{% endblock %}

{% block body %}
<div>
    <form method="POST" id="article_form">
        <h2>Add New Article</h2>
        <label>Title</label><br>
        <input type="text" name="title_form" value="{{ article.title }}"><br><br>

        <label>Tags (Separate with commas)</label><br>
        <input type="text" name="tag_form" value="{{ article.tags }}"><br><br>

        <label>Text</label><br>
        <textarea rows="25" cols="150" name="content_form" id="article_content_input">{{ article.content }}</textarea><br><br>
        
        <input type="submit" method="POST" value="Update" class="article_submit">

        
        <div class="tag_insertions">
            <div>
                <input type="button" value="<p>" onclick="insertAtCaret('article_content_input', '<p></p>')">
                <input type="button" value="<ul>" onclick="insertAtCaret('article_content_input', '<ul></ul>')">
                <input type="button" value="<li>" onclick="insertAtCaret('article_content_input', '<li></li>')">
            </div>
        </div>

    </form>
</div>
{% endblock %}